// Preloading all fonts (no icon fonts)
link(rel='preload' as='font' href=sourceSansPro.regular400 type='font/woff2' crossorigin='')
link(rel='preload' as='font' href=sourceSansPro.italic400 type='font/woff2' crossorigin='')
link(rel='preload' as='font' href=sourceSansPro.bold700 type='font/woff2' crossorigin='')
link(rel='preload' as='font' href=sourceSansPro.boldItalic700 type='font/woff2' crossorigin='')
