.fontStages
  h3.subtitle.is-4 Coloured Text
  .content
    p
      | For demonstration purposes, the loading stages in this demo have different font colors applied to them:

    .colorWrapper
      .fallback
        p Orange = Fallback color
      .subset
        p Green = Subset font color
        ul
          li Font-synthesis is being used
      .loaded
        p Black = When all web font styles are loaded
