.limitations
    h2.subtitle.is-4 Limitations
    .content
      h4 Font format
      p
        | Only .woff2 files were used for testing the resource prioritization approaches in this degree project.
        | In production it is recommended to include at least the .woff format (for browsers that do not support .woff2).

      h4 Caching
      p
        | This demo does not contain any optimization approaches for repeat views, since this was outside of the
        | scope of this project.

      h4 Browser Support
      p
        | HTTP/2 Server Push is inconsistent across browsers, this has not been addressed in this demo.
