html {
  background:#EDEDED;
  font-size: 1.3em;
}

.main {
  max-width:30em;
  padding: 3em 1em 5em 1em;
}

.imgWrapper img {
  background:#bdbdbd;
}

.fonts .main {
  font-family: SourceSansPro, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* If I don't define font-family before js is parsed if will use fallback font first??  */
  /* font-family: cursive; */
  color:black;
  /* font-size:5em; */
}

.subset-loaded .main {
  font-family: SourceSansProSubset, sans-serif;
  color:rgb(17, 0, 255);
}

.fonts-loaded .main {
  font-family: SourceSansPro, sans-serif;
  color:green;
}

/* .fonts-loaded strong {
  font-family: SourceSansPro, sans-serif;
  font-weight: 700;
}

.fonts-loaded em {
  font-family: SourceSansPro, sans-serif;
  font-style: italic;
}

.fonts-loaded strong em,
.fonts-loaded em strong {
  font-family: SourceSansPro, sans-serif;
  font-weight: 700;
  font-style: italic;
} */
