doctype html
html(class='fonts' lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block pageTitle
    block preload
    include includes/css/critical-styles-fonts
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    include includes/css/stylesheets
    include includes/js/css-font-loading-api-script
  body
    include includes/components/header
    block main
    include includes/js/non-blocking

