extends layout/strategies/index
block links
  include layout/includes/stylesheets
  // Preloading subset web font
  link(rel='preload' as='font' href=sourceSansPro.subset type='font/woff2' crossorigin='')
