doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Critical styles
  style.
    /* source-sans-pro-regular-subset - latin */
    @font-face {
    font-family: 'SourceSansProSubset';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular-subset.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular-subset.zopfli.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
    }
    /* source-sans-pro-regular - latin */
    @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
    }
    /* source-sans-pro-italic - latin */
    @font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
    }
    /* source-sans-pro-700 - latin */
    @font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
    }
    /* source-sans-pro-700italic - latin */
    @font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
    }
    /* Apply fonts */
    .fonts .main {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    /* If I don't define font-family before js is parsed if will use fallback font first??  */
    /* font-family: cursive; */
    color:black;
    }
    .subset-loaded .main {
    font-family: SourceSansProSubset, cursive;  /* TODO change cursive to sans-serif*/
    color:rgb(17, 0, 255);
    }
    .fonts-loaded .main {
    font-family: SourceSansPro, sans-serif;
    color:green;
    }
  link(rel='stylesheet' type='text/css' href='/styles/main.css')
  link(rel='stylesheet' type='text/css' href='/styles/grid.css')

  // Preloading all web fonts
  link(rel='preload' as='font' href='/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular-subset.woff2' type='font/woff2' crossorigin='')
  link(rel='preload' as='font' href='/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-regular.woff2' type='font/woff2' crossorigin='')
  link(rel='preload' as='font' href='/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-italic.woff2' type='font/woff2' crossorigin='')
  link(rel='preload' as='font' href='/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700.woff2' type='font/woff2' crossorigin='')
  link(rel='preload' as='font' href='/fonts/source-sans-pro-latin/source-sans-pro-v11-latin-700italic.woff2' type='font/woff2' crossorigin='')
  title Critical FOFT Preload (Variant 2)
  script.
    // CSS Font Loading API //
    (function () {
    "use strict";
    if ("fonts" in document) {
    console.log('fonts are in document')
    document.fonts.load("1em SourceSansProSubset").then(function () {
    document.documentElement.className += " subset-loaded";
    Promise.all([
    document.fonts.load("400 1em SourceSansPro"),
    document.fonts.load("700 1em SourceSansPro"),
    document.fonts.load("italic 1em SourceSansPro"),
    document.fonts.load("italic 700 1em SourceSansPro")
    ]).then(function () {
    document.documentElement.className += " fonts-loaded";
    // Optimization for Repeat Views
    //sessionStorage.fontsLoadedCriticalFoftPreloadFallback = true;
    });
    });
    }
    })();
.main
  h1 Critical FOFT Preload (Variant 2)
  p This is a regular font style with font-weight 400.
  p
    strong This is bold 700 text.
  p
    em This is emphasized italic
  p
    strong
      em This is heavier and emphasized text.
  p
    | Currently, the median loading time for a web page&rsquo;s primary content to appear on the user&rsquo;s mobile screen is 5.3
    | seconds [23]. Users expect a site to load within two seconds [24], and as a page load time goes from 1s to 5s, the
    | probability of bounce increases by 90% [2].
    | According to the HTTP Archive, more than 65% of websites are using custom fonts [25][26]. Optimizing the delivery and
    | usage of external fonts can result in a faster render time for a site or web application. Even a small difference in
    | load time, e.g., 100 milliseconds, makes an impact on revenue [3]. Hence, it becomes paramount to find a good
    | strategy for improving the loading of font resources.
    | The wide adoption of the HTTP/2 networking protocol in modern browsers makes Server Push a good candidate as a
    | loading strategy. Gaining knowledge in how Preload compare to HTTP/2 Server Push will be helpful for design-and
    | performance-conscious web developers that want to use web fonts in their projects.
.imgWrapper
  img(src='/images/car.jpg' alt='car')
  img(src='/images/cycle.jpg' alt='cycle')
  img(src='/images/run.jpg' alt='run')
