extends layout/strategies/index
block links
  include layout/includes/css/stylesheets
  // Preloading all web fonts
  link(rel='preload' as='font' href=sourceSansPro.subset type='font/woff2' crossorigin='')
  include layout/includes/fonts/preloaded-fonts
