extends layout/strategies/index
block pageTitle
  title Critical Foft HTTP/2 Push
block links
  link(rel='stylesheet' type='text/css' href='/styles/main.css')
  link(rel='stylesheet' type='text/css' href='/styles/grid.css')
  link(rel='stylesheet' type='text/css' href='/styles/vendor/prism/prism.css')
