extends layout/strategies/index
block links
  link(rel='preload' href='/styles/main.css' as='style' type='text/css')
  link(rel='preload' href='/styles/grid.css' as='style' type='text/css')
  link(rel='preload' href='/styles/vendor/prism/prism.css' as='style' type='text/css')
  // Preloading subset web font
  link(rel='preload' as='font' href=sourceSansPro.subset type='font/woff2' crossorigin='')
  // The stylesheets has to be link normally too so that the browser knows that they will be used directly see exampl: https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content
  include layout/includes/css/stylesheets


